         body {
            background-color: #252525;
            color: white; 
            font-family: Arial, sans-serif; 
            padding: 20px; 
        }
        label {
            display: block;
            margin-bottom: 5px; 
        }
        input[type="text"] {
            padding: 10px;
            margin-bottom: 20px; 
            border: 2px solid #ffffff; 
            background-color: #1a1a1a; 
            color: white;
        }
        .check {
            padding: 10px 15px; 
            background-color: #00ff00; 
            color: #000; 
            border: none; 
            cursor: pointer; 
            font-size: 16px; 
            transition: background-color 0.3s; 
        }
        .check:hover {
            background-color: #33cc33;
        }
        #result {
            display: none; 
            margin-top: 20px; 
            font-weight: bold; 
        }
        div.question {
            margin-bottom: 20px; 
        }
        table {
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            border-radius: 5px;
        }
        td {
            border-radius: 5px;
        }
        .n {
            width: 20px;
            text-align: center;
        }
        .variant
        {
            text-align: center;
            font-size: 20px;
        }
        .task
        {
            text-align: justify;
            padding: 5px;
        }
        .submit {
           background-color: #252525; 
        }
