a {
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid grey;
    background-color: green;
    color: white;
    font-weight: bold;
    margin: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
}
a:hover {
    background-color: black;
}
h1 {
    margin-bottom: 10px;
}